<% if (firstInCollection){ %>
<div class="grid_6">
    <div class="box form_box">
        <form method="post" action="/admin/member/<%- member._id %>/edit_privs">
            <input type="hidden" name="member[_id]" value="<%- member._id.toString() %>" />
    <h2>Tasks</h2>

        <% } %>
        <section class="form_row">
            <div class="grid_2">
                <div class="block_content right"><b><%- task.label %></b></div></div>
            <div class="grid_10">
                <div class="block_content"><%- partial('verb.html', task.verbs) %></div></div>
        </section>

        <% if (lastInCollection) { %>


        <%- partial('form/button_row.html', [
        {class_name: 'medium orange', label: 'Save', link: false, type: 'submit'},
        ]) %>

        </form>
    </div>
</div>
<% } %>