<div class="container_12">
    <div class="box">
        <h2>Member Detail
            <span class="l"></span>
            <span class="r"></span>
        </h2>
        <%- partial('ticket/row.html', [
        {label: '_id', value: member._id},
        {label: 'name', value: member.name},
        {label: 'eMail', value: member.email},
        {label: 'username', value: member.username}]) %>

        <%- partial('ticket/button_row.html', [
        {class_name: 'medium',          label: 'Return to list',    link: '/admin/members/list'},
        {class_name: 'medium',          label: 'Privileges',        link: '/admin/member/' + member._id.toString() + '/edit_privs'},
        {class_name: 'medium orange',   label: 'Edit',              link: '/admin/member/' + member._id.toString() + '/edit'},
        {class_name: 'medium red',      label: 'Delete',            link: '/admin/member/' + member._id.toString() + '/delete'}
        ]) %>
    </div>
</div>
