<%- helpers.banner_menu('Manage Members', 'member_admin_menu', 'admin_members_task') %>

<div class="block"><h1>Tasks</h1>
    <table class="display" id="task_list">
        <thead>
        <th>task</th>
        <th>label</th>
        </thead>
        <tbody>
        <tr>
            <td>loading data...</td>
        </tr>
        </tbody>
        <tfoot>
        <th>task</th>
        <th>label</th>
        </tfoot>
    </table>
</div>

<div class="box form_box">

    <h2>New Task Subject
        <span class="l"></span>
        <span class="r"></span>
    </h2>

    <div class="block">
        <form action="/admin/member_task/0/new" class="form_place" method="POST" onsubmit="return check_form(this)">
            <section class="grid_7">

                <section class="form_row">
                    <div class="grid_3">
                        <div class="block_content right">
                            <label>name</label></div>
                    </div>
                    <div class="grid_9">
                        <div class="block_content">
                            <input type="text" class="i-format" id="task_form__id"
                                   name="task[_id]" value="<%= task._id %>">

                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
                <section class="form_row">
                    <div class="grid_3">
                        <div class="block_content right">
                            <label>label</label></div>
                    </div>
                    <div class="grid_9">
                        <div class="block_content">
                            <input type="text" class="i-format" id="task_form_label"
                                   name="task[label]" value="<%= task.label %>"/>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
                <section class="form_row button_row textcenter">
                    <div class="grid_12">
                        <div class="block_content">
                            <button id="member_form_edit" type="submit" class="button medium orange">Create</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </section>
            </section>

            <container class="form_row grid_2">
                <h3>Verbs</h3>

                <div class="block_content">
                    <label> <input type="checkbox" name="task[verbs][]" value="create" id="tvc" checked="checked"/>

                        Create</label>
                </div>
                <div class="block_content">
                    <label> <input type="checkbox" name="task[verbs][]" value="edit" id="tve" checked="checked"/>

                        Edit</label>
                </div>
                <div class="block_content">
                    <label> <input type="checkbox" name="task[verbs][]" value="delete" id="tvd" checked="checked"/>

                        Delete</label>
                </div>
                <div class="block_content">
                    <label> <input type="checkbox" name="task[verbs][]" value="assign" checked="checked"/>

                        Assign</label>
                </div>
            </container>

            <container class="form_row grid_3">
                <h3>New Verbs</h3>
                <textarea rows="3" name="tasks[verbs][other]" cols="20" style="height: 100px" class="default"></textarea>
            </container>
        </form>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        var oTable = $('#task_list').dataTable({
            "bJQueryUI":true,
            "sPaginationType":"full_numbers",
            "sAjaxSource":"/admin/member_tasks/list.json",
            "bProcessing":true,
            "bServerSide":true,
            "paginate":true
        });

        /* Add events */
        $('#task_list tbody tr').live('click', function () {
            var sTitle;
            var nTds = $('td', this);
            var id = $(nTds[0]).text();
            document.location = '/admin/member_task/' + id;
        });
    });

    function check_form() {
        var id = $('#task_form__id').val();
        var label = $('#task_form_label').val();

        if ((!id) || (id == 'new_task')) return false;
        if ((!label) || (label == 'New Task')) return false;

        return true;
    }
</script>

