<% if (firstInCollection) { %>
<section class="form_row button_row textcenter">
    <% } %>
    <div class="grid_<%= Math.floor(12 / collectionLength) %>">
        <div class="block_content">
            <button id="member_form_cancel" class="button <%= buttonRow.class_name ? buttonRow.class_name : '' %>"
            <% if (buttonRow.link) { %> onclick="document.location='<%= buttonRow.link%>'" <% } %>

            ><%= buttonRow.label %>
            </button>
        </div>
    </div>
    <% if (lastInCollection) { %>
    <div class="clear"></div>
</section>
<% } %>