<html>
<head>
    <% javascript.forEach(function(js, i){ %>
    <script language="javascript" src="<%= js %>"><%= i %></script>
    <% }) %>

    <% css.forEach(function(c) { %>
    <link href="<%= c %>" media="all" rel="stylesheet" type="text/css" />
    <% }) %>
</head>
<body>
<%- helpers.flash() %>
<h1>Member Test</h1>
<% if (current_member) { %>
<p><%= current_member.name %> (<a href="/sign_out">Sign Out</a>)</p>

<% } else { %>
<a href="/sign_in">Sign In</a>
<% } %>
<%- body %>
</body>
</html>