<div class="container_9">
    <div class="box">
        <h2>Task Detail
            <span class="l"></span>
            <span class="r"></span>
        </h2>
        <section class="form_row">
            <div class="grid_3">
                <div class="block_content right">
                    <b>_id</b>
                </div>
            </div>

            <div class="grid_9">
                <div class="block_content">
                    <%= task._id %>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="form_row">
            <div class="grid_3">
                <div class="block_content right">
                    <b>label</b>
                </div>
            </div>

            <div class="grid_9">
                <div class="block_content">
                    <%= task.label %>
                </div>
            </div>
            <div class="clear"></div>
        </section>

        <section class="form_row">
            <div class="grid_3">
                <div class="block_content right">
                    <b>verbs</b>
                </div>
            </div>

            <div class="grid_9">
                <div class="block_content">
                    <%- task.verbs.join('<br />') %>
                </div>
            </div>
            <div class="clear"></div>
        </section>

        <section class="form_row button_row textcenter">
            <div class="grid_4">
                <div class="block_content">
                    <button id="member_form_cancel" class="button medium"
                            onclick="document.location='/admin/member_tasks/list'">Return to list
                    </button>
                </div>
            </div>
            <div class="grid_4">
                <div class="block_content">
                    <button id="member_form_edit" class="button medium orange"
                            onclick="document.location='/admin/task/<%= task._id %>/edit'">Edit
                    </button>
                </div>
            </div>
            <div class="grid_4">
                <div class="block_content">
                    <button id="member_form_delete" class="button medium red">Delete</button>
                </div>
            </div>
            <div class="clear"></div>
        </section>
    </div>
</div>