<h2>Enter</h2>
<form action="/enter" method="post class="enter_form", id="member_enter">
    <div class="field_row" id="member_enter_username_row">
        <label>Username or Email</label>
        <input type="text" name="member[username]" id="enter_member_username"
               value="<%= (member && member.username) ? member.username : "" %>" />
    </div>
    <div class="field_row" id="member_enter_password_row">
        <label>Username or Email</label>
        <input type="password" name="member[username]" id="enter_member_password"
               value="<%= (member && member.password) ? member.password : "" %>" />
    </div>
    <div class="submit_row" id="member_enter_button_row">

    </div>
</form>